@page "/Game"
<style>
	main {		
		display:flex;
		justify-content:center;
		align-items:center
	}

	.mainGrid {
		display:grid;
		@(CurrentGame.Css())
	}

	.gridCell {
		display:flex;
		justify-content:center;
		align-items:center;
		border: 1px solid silver
	}

	.gridCell:hover {
		background-color:antiquewhite
	}
</style>

<main>
	<div class="mainGrid">
		<GameGrid 
			Width="@CurrentGame.Width" 
			Height="@CurrentGame.Height"
			GetCellCssClass="GetCellClass"
			GetCellContent="GetCellContent"/>
	</div>
</main>

@code {
	private WebGameState CurrentGame = new JewelRunGameState();

	protected override void OnInitialized()
	{
		CurrentGame = new JewelRunGameState() { Width = 10, Height = 10 };		
	}

	private string GetCellClass(Location location) => "gridCell";

	private string GetCellContent(Location location) => $"{location.Column}, {location.Row}";

}
