@page "/"
@rendermode InteractiveWebAssembly

@using System.Diagnostics

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>counter = @counter</p>

<button @onclick="Increment">hello3</button>

@code {
	private int counter = 0;

	private void Increment()
	{
		counter++;
	}
}