@for (int col = 1; col <= Width; col++)
{
	for (int row = 1; row <= Height; row++)
	{		
		Location loc = new(col, row);
		
		<div id="@CellId(col, row)" class="@GetCellCssClass?.Invoke(loc)">
			@{ var content = GetCellContent(loc); }
			@content
		</div>
	}
}

@code {
	[Parameter]
	public int Width { get; set; }

	[Parameter]
	public int Height { get; set; }

	[Parameter]
	public Func<Location, string>? GetCellCssClass { get; set; }

	[Parameter, EditorRequired]
	public Func<Location, string?> GetCellContent { get; set; } = (location) => default;

	private string CellId(int column, int row) => $"square-{column}-{row}";
}
